<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="StudentContextDB" connectionString="data source=DESKTOP-VTVD3RG\SQLEXPRESS;initial catalog=QuanLySinhVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SinhVienDBContext" connectionString="data source=haiit;initial catalog=QUANLYSINHVIEN_TRINH;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SinhVienDBContext1" connectionString="data source=haiit;initial catalog=TRINH_QUANLYSINHVIEN;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>